@import '../variables&mixins';

nav {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   padding: 10px 25px;
   background: #fff;
   box-shadow: 0 1px 1px $light-shadow;
   z-index: 999;
   .nav-wp {
      max-width: 1250px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
         display: flex;
         .logo {
            fill: #000;
            cursor: pointer;
            margin-right: 15px;
            &:hover {
               fill: #3d3d3d;
            }
         }
         .search-wp {
            position: relative;
            .search {
               display: block;
               height: 40px;
               width: 420px;
               border: 1px solid $light-border;
               border-radius: 7px;
               padding: 8px;
               &:hover {
                  border-color: $hover-border;
               }
               &:focus {
                  outline: none;
                  border-color: $primary-blue;
                  box-shadow: 0 0 0 1px $primary-blue;
               }
            }
            button {
               position: absolute;
               top: 50%;
               right: 10px;
               transform: translateY(-50%);
               border: none;
               background: transparent;
               padding: 4px;
               border-radius: 50%;
               line-height: 0;
               cursor: pointer;
               &:hover {
                  background: $light-bg-hover;
               }
            }
         }
      }
      .right {
         display: flex;
         align-items: center;
         .create-post {
            @include blue-btn;
         }
         .notif {
            padding: 8px;
            border-radius: 50%;
            height: 40px;
            cursor: pointer;
            margin-right: 12px;
            &:hover {
               background: $light-bg-hover;
            }
         }
         .profil {
            position: relative;
            img {
               width: 38px;
               height: 38px;
               border-radius: 50%;
               padding: 2px;
               border: 1px solid transparent;
               cursor: pointer;
               &.active {
                  border: 1px solid $light-shadow;
               }
            }
            .profil-menu {
               display: none;
               position: absolute;
               top: calc(100% + 5px);
               right: 0;
               width: 255px;
               padding: 8px;
               background: #fff;
               border: 1px solid $light-shadow;
               border-radius: 7px;
               color: #242424;
               &.active {
                  display: block;
               }
               li {
                  padding: 8px;
                  border-radius: 7px;
                  cursor: pointer;
                  &:hover {
                     background: $light-bg-hover;
                     color: $hover-blue;
                  }
                  span {
                     color: #8a8a8a;
                  }
               }
               .divider {
                  height: 1px;
                  width: 100%;
                  background: $light-shadow;
                  margin: 8px 0;
               }
            }
            .trigger {
               position: absolute;
               background: transparent;
               top: -13px;
               left: -7px;
               width: 50px;
               height: 60px;
               z-index: 2;
            }
         }
      }
   }
}
