@import '../components_styles/nav';
@import '../components_styles/header';
@import '../components_styles/articles';
@import '../components_styles/new';
@import '../components_styles/error';

.close {
   position: absolute;
   top: 10px;
   right: 20px;
   padding: 8px;
   border-radius: 6px;
   cursor: pointer;
   line-height: 0;
   border: none;
   &:hover {
      background: $light-bg-hover;
   }
}

main {
   display: flex;
   max-width: 1250px;
   margin: 0 auto;
   .left-col {
      max-width: 280px;
      .bloc {
         margin-bottom: 16px;
         padding: 16px;
         padding-top: 0px;
         border-bottom: 1px solid $light-shadow;
         h2 {
            padding: 8px 0;
            font-family: 'Menlo', monospace;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
         }
         p {
            line-height: 20px;
            font-size: 15px;
            margin-top: 8px;
         }
         button {
            @include blue-btn;
            font-size: 14px;
            padding: 6px 13px;
            font-weight: 400;
            margin-top: 8px;
         }
         ul {
            display: flex;
            flex-wrap: wrap;
            li img {
               border-radius: 50%;
               width: 48px;
               height: 48px;
               margin-right: 12px;
               margin-bottom: 12px;
            }
         }
      }
      .end {
         padding-left: 16px;
      }
   }
   .middle {
      flex-grow: 1;
      padding: 16px;
      padding-top: 0;
      .top-line {
         display: flex;
         h2 {
            @include nav-link;
         }
      }
   }
   .right-col {
      max-width: 280px;
      flex-grow: 1;
      padding: 16px;
      padding-top: 0;
      h2 {
         padding: 8px 0;
         font-family: 'Menlo', monospace;
         font-size: 14px;
         line-height: 20px;
         font-weight: 700;
      }
      .discuss-wp {
         padding-bottom: 16px;
         border-bottom: 1px solid $light-shadow;
         .discuss-item {
            padding: 16px;
            color: #242424;
            cursor: pointer;
            h3 {
               color: inherit;
               font-size: 15px;
               line-height: 20px;
               margin-bottom: 5px;
            }
            p {
               color: #717171;
               font-size: 13px;
               line-height: 20px;
            }
            &:hover {
               opacity: 0.9;
               background: #fff;
               color: #323ebe;
            }
         }
      }
   }
}

@media screen and (max-width: 1100px) {
   .right-col {
      display: none;
   }
}
@media screen and (max-width: 800px) {
   .left-col {
      display: none;
   }
}
@media screen and (max-width: 600px) {
   main {
      display: none;
   }
}