.header {
   max-width: 1050px;
   margin: 0 auto;
   padding: 10px 25px;
   display: flex;
   align-items: center;
   .logo {
      @include main-logo;
   }
   h2 {
      font-weight: 500;
   }
   .close {
      position: absolute;
      top: 10px;
      right: 20px;
      padding: 8px;
      border-radius: 6px;
      cursor: pointer;
      line-height: 0;
      &:hover {
         background: $light-bg-hover;
      }
   }
}

.form {
   max-width: 805px;
   margin: 0 auto;
   form {
      width: 100%;
      height: calc(100vh - 66px - 80px);
      background: #fff;
      border-radius: 6px;
      border: 1px solid $light-border;
      .form-head {
         padding: 32px 64px;
         display: flex;
         flex-direction: column;
      }
      .cover {
         width: max-content;
         font-weight: 500;
         border: 2px solid $light-border;
         border-radius: 6px;
         padding: 6px 14px;
         background: transparent;
         outline: none;
         margin-bottom: 20px;
      }
      .title {
         display: block;
         height: 60px;
         background: transparent;
         border: none;
         outline: none;
         font-size: 48px;
         line-height: 60px;
         font-weight: 800;
         margin-bottom: 12px;
      }
      .tags {
         display: block;
         background: transparent;
         border: none;
         outline: none;
         font-family: 'Menlo', monospace;
      }
      textarea {
         padding: 32px 64px;
         width: 100%;
         border: none;
         background: none;
         outline: none;
         font-family: 'Menlo', monospace;
         resize: none;
      }
   }
   .form-action {
     padding: 20px 0;
      .publish,
      .draft {
         @include blue-btn;
      }
      .draft {
        background: #d6d6d7;
        color: #3d3d3d;
        &:hover {
          background: #d6d6d7;
        }
      }
   }
}
