@import '../variables&mixins';
@import '../components_styles/nav';

.result-wp {
  max-width: 990px;
  margin: 80px auto 0;
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .content {
    display: flex;
    .left {
      flex-grow: 1;
      width: 240px;
      margin-top: 8px;
      p {
        @include nav-link;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        &.active {
          background: rgba(255, 255, 255, 0.5);
        };
      }
    }
    .right {
      flex-grow: 1;
      margin-left: 16px;
    }
  }
}